body{
   margin:5px;
   padding:5px;
   line-height:1.15;
}
 
h1,h2, h3{
   font-weight: bold;
   margin-top:15px;
 
}
ul li{
   margin-left: 25px;
   list-style-type: upper-roman;
}
nav li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    display: inline-block;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: aqua;
    margin: 10px 20px;
 }

li.jackie{
   background-color: yellow;
   border: 5px dotted black;
   border-radius: 20px;
   margin: 10px;
   padding: 5px;
 }

 main img{
    
    width: 24%;
    box-sizing: border-box;
    padding: 15px;
    border: 6px dashed green;
    margin: none;
 }

div.gallery{
   display: grid;
   grid-template-columns: 250px 250px 250px;
   border: 3px solid black;
   width: 90%;
   justify-content: center;
 }

.gallery img{
   width: 100%;
}
