body{
   margin:5px;
   padding:5px;
   line-height:1.15;
}
 
h1,h2, h3{
   font-weight: bold;
   margin-top:15px;
 
}
ul li{
   margin-left: 25px;
   list-style-type: upper-roman;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 5px;
   display: inline;
}
